:root {
    --vermelho: #E50914;
    --preto: #141414;
}

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 20px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 40px;
    transition: .5s;
}

header nav a:hover {
    color: #FFF;
}

/*Filme principal*/

.main-movie {
    font-size: 16px;
    background-image:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url("../img/capa-my-hero-academia.jpg");

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center, 0 -70px;  
}

.main-movie .description {
    margin-bottom: 25px;
}

.main-movie .container .title {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.container {
    margin-left: 30px;
}

.main-movie .container {
    width: 60%;
}

.main-movie .container p {
    text-align: justify;
}

.buttons-movie .button {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;
}

.buttons-movie .button:hover {
    background-color: white;
    color: black;
}

.button i {
    margin-right: 5px;
}

.movie-carousel {
    margin-top: 30px;
}

.movie-box {
    height: 100%;
    width: 100%;
    display: block;
}